@import "tailwindcss";

:root {
  --background: #f5fdf3;
  --primary: #47d736;
  --text: #061204;
  --secondary: #8cdae8;
  --accent: #5b90df;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
